.banner-img {
  width: 271px;
}
.title {
  white-space: nowrap;
  position: relative;
  color: transparent;
}
.title::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0px;
  left: 0;
  color: tomato;
  animation: myanimation 8s linear infinite alternate;
}
@keyframes myanimation {
  0% {
    content: "W|";
  }

  4% {
    content: "We|";
  }

  8% {
    content: "Web|";
  }

  12% {
    content: "Web D|";
  }

  16% {
    content: "Web De|";
  }

  20% {
    content: "Web Dev|";
  }

  24% {
    content: "Web Deve|";
  }

  28% {
    content: "Web Devel|";
  }

  32% {
    content: "Web Develo|";
  }

  36% {
    content: "Web Develop|";
  }

  40% {
    content: "Web Developer|";
  }

  44% {
    content: "Web Develope|";
  }

  48% {
    content: "Web Develop|";
  }

  52% {
    content: "Web Develo|";
  }

  56% {
    content: "Web Devel|";
  }

  60% {
    content: "Web Deve|";
  }
  61% {
    content: "Web Dev|";
  }
  62% {
    content: "Web De|";
  }
  63% {
    content: "Web D|";
  }

  66% {
    content: "Web |";
  }

  68% {
    content: "We|";
  }

  70% {
    content: "W|";
  }

  72% {
    content: "|";
  }
}
